body{
    background-color: #f6f8f9;
    margin: 0;
    padding: 0;
}
header{
    box-sizing: border-box;
    margin: 0;
    padding: 3rem;
    background-color: white;
}

h1{
    display: inline-block;
}

.logo{
    vertical-align: middle;
}

.container{
    width: 70%;
    margin: auto;
}

.selection{
    margin-top: 3rem;
    width: 70%;
    height: 50px;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 1px solid #f6f8f9;
    border-radius: 5px;
    padding: 6px;
}

.choise{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    
}

#task{
    color: white;
    background-color: #14aaf5;
    border-radius: 3px;
    padding: 8px;
    vertical-align: middle;
    margin-left: 3rem;
}

#other{
    color: lightgray;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 8px;
    vertical-align: middle;
}

h2{
    color: #565a62;
    margin-left: 3.5rem;
}

.new-task{
    width: 70%;
    margin-left: 3,5rem;
    margin-top: 0px;
    background-color: white;
}

span{
    color: #565a62;
}

.checkmark{
    color: green;
    width: 40px;
    border: 1px solid green;
    border-radius: 50%;
    padding: 3px;
    margin-left: 3.5rem;
}

.editorial{
    display: inline-block;
    color: white;
    background-color: #14aaf5;
    padding: 3px;
    border-radius: 30px;
    margin-left: 1rem;
}

.mob-app{
    margin-top: 10px;
    color: #565a62;
}

.q1-goals{
    display: inline-block;
    color: white;
    background-color: #bc7ceb;
    padding: 3px;
    border-radius: 30px;
    margin-left: 1rem;
}

.interview{
    display: inline-block;
    margin-top: 10px;
}

.to-do-mark{
    color: red;
    width: 40px;
    border: 1px solid red;
    border-radius: 50%;
    padding: 3px;
    margin-left: 3.5rem;
}

.recruiting{
    display: inline-block;
    color: white;
    background-color: #2cc6ab;
    padding: 3px;
    border-radius: 30px;
    margin-left: 1rem;
}

.summit{
        margin-top: 10px;
        color: #565a62;
}

.mobile{
    display: inline-block;
    color: white;
    background-color: #ff9b00;
    padding: 3px;
    border-radius: 30px;
    margin-left: 1rem;
}